parameters:
    level: 6
    paths:
        - wp-admin/includes
        - wp-includes
    excludePaths:
        - vendor
        - wp-includes/sodium_compat
        - wp-includes/SimplePie
        - wp-includes/ID3
    autoload_file:
        - tests/stubs/wordpress.php
    ignoreErrors:
        - '#Constant .+ not found#'
        - '#Variable .+ might not be defined#'
        - '#Call to undefined function#'
        - '#Function .+ not found#'
        - '#Instantiation of internal class#'
        - '#extends internal class#'